@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="container">
        <h1>STUDENT FORM</h1>
        <div class="container">
            <div class="row border">
                <div class="col-3">
                    <h4 class="display-text">Full Name</h4>
                </div>
                <div class="col row">
                    <div class="col">
                        <input type="type" name="Lname" value="" />
                        <span class="span-text">Last Name</span>
                    </div>
                    <div class="col">
                        <input type="type" name="Fname" value="" />
                        <span class="span-text">First Name</span>
                    </div>
                    <div class="col">
                        <input type="type" name="Mname" value="" />
                        <span class="span-text">Middle Name</span>
                    </div>
                    <div class="col">
                        <input type="type" name="Suffix" value="" />
                        <span class="span-text">Suffix</span>
                    </div>
                </div>
            </div>
            <div class="row border">
                <div class="col-3">
                    <h4 class="display-text">Address</h4>
                </div>
                <div class="col row">
                    <div class="row">
                        <div>
                            <input class="input-text-size" type="type" name="StreetAdd" value="" />
                            <span class="span-text">Street Address</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="input-text-size" type="type" name="City" value="" />
                            <span class="span-text">City</span>
                        </div>
                        <div class="col">
                            <input class="input-text-size" type="type" name="Province" value="" />
                            <span class="span-text">State/Province</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border">
                <div class="col-3">
                    <h4 class="display-text">Birth Date</h4>
                </div>
                <div class="col row">
                    <div class="col">
                        <input class="input-text-size" type="date" name="BDate" value="" />

                    </div>
                </div>
            </div>
            <div class="row border">
                <div class="col-3">
                    <h4 class="display-text">Gender</h4>
                </div>
                <div class="col row">
                    <div class="col">
                        <select class="input-text-size" name="Gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Non-Binary</option>
                        </select>

                    </div>

                </div>
            </div>
            <div class="row border">
                <div class="col-3">
                    <h4 class="display-text">Contact Information</h4>
                </div>
                <div class="col row">
                    <div class="row">
                        <div class="col">
                            <input type="type" name="Pnumber" value="" />
                            <span class="span-text">Phone Number</span>
                        </div>
                        <div class="col">
                            <input type="type" name="EmailAdd" value="" />
                            <span class="span-text">Email Address</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row border">
                <div class="col-3">
                    <h4 class="display-text">Year Level</h4>
                </div>
                <div class="col row">
                    <div class="row">
                        <div class="col">
                            <select class="input-text-size" name="Yearlevel">
                                <option>1st Year</option>
                                <option>2nd Year</option>
                                <option>3rd Year</option>
                                <option>4rd Year</option>
                                <option>5rd Year</option>
                            </select>
                            <span class="span-text">Year Level</span>
                        </div>
                        <div class="col">
                            <select class="input-text-size" name="Degree">
                                <option>BSCPe</option>
                                <option>UG</option>
                                <option>AKO</option>
                                <option>NALANG</option>
                                <option>DIAY</option>

                            </select>
                            <span class="span-text">Degree</span>
                        </div>
                    </div>
                </div>

            </div>

		</div>
        <div class="row">
            <br>
            <button id="" type="text" class="btn btn-primary">Submit</button>
        </div>

</form>