html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.span-text {
    font-weight: 8;
    font-size: 12px;
    font-family: cursive;
    color: grey;
}

.input-text-size {
    width: 100%;
    color: black;
}

.display-text {
    font-weight: 100;
    font-family: cursive;
    color: black;
}

.text-home {
    background: linear-gradient(
        to right, rgb(0,168,253), #fff 35%, #e00a95);
    background-size: 400% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s linear infinite;
}
@keyframes gradient {
    0% { background-position: 0% 75%;}
    50% { background-position: 100% 50%;}
    1000% {background-position: 0% 70%;}
}

.container-home {
    display: flex;
    flex-direction: row;
}