@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="container">
        <div class="row border">
            <div class="col-3">
                <h4 class="display-text">Course Code</h4>
            </div>
            <div class="col row">
                <div class="row">
                    <div>
                        <span class="span-text">Code*</span>
                        <input class="input-text-size" type="text" name="Code" value="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row border">
            <div class="col-3">
                <h4 class="display-text">Course Title</h4>
            </div>
            <div class="col row">
                <div class="row">
                    <div>
                        <span class="span-text">Title*</span>
                        <input class="input-text-size" type="text" name="Title" value="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row border">
            <div class="col-3">
                <h4 class="display-text">Course Units</h4>
            </div>
            <div class="col row">
                <div class="col row">
                    <div class="col">
                        <div>
                            <span class="span-text">Lecture*</span>
                            <input class="input-text-size" type="text" name="Lecture" value="" />
                        </div>
                    </div>
                    <div class="col">
                        <span class="span-text">Laboratory*</span>
                        <input class="input-text-size" type="type" name="Laboratory" value="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border">
        <div class="col-3">
            <h4 class="display-text">Course Description</h4>
        </div>
        <div class="col row">
            <div class="row">
                <div>
                    <span class="span-text">Description Here*</span>
                    <input class="input-text-size" type="text" name="Description" value="" />
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <br>
        <button id="" type="text" class="btn btn-primary">Submit</button>
    </div>
</form>