@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row border">
        <div class="col-3">
            <h4 class="display-text">Course Form</h4>
        </div>
        <div class="col row">
            <div class="col">
                <input type="type" number="number" value="" />
                <span class="span-text">Course ID</span>
            </div>
            <div class="col">
                <input type="type" number="number" value="" />
                <span class="span-text">Course No.</span>
            </div>
            <br></br>
            <div class="row">
                <div class="col row">
                    <div class="row">
                        <div>
                            <input class="input-text-size" type="type" text="text" value="" />
                            <span class="span-text">Course Title</span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <input class="input-text-size" type="type" text="text" value="" />
                            <span class="span-text">Course Description</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<h1></h1>